#c1 {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width:300px;
    border: 2px solid black;
    display: inline-block;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
    margin: 100px auto ;
    transition: 1s;
}

/* #m {
    /* background-image: url("photo-1471769321038-24f4db35b24d.avif"); */
    /* background-size: crop;
    padding:25px;
    border:2px solid rgb(3, 0, 0);
    width:75%;
    height: 50%;
} */ 

img {
    width:100%;
    border-radius: 5px;

}
#c1:hover {
    box-shadow: 2px 2px 20px red;
    /* transform: scale(1.5); */
}


/* #m2 {
    /* background-image: url("photo-1471769321038-24f4db35b24d.avif"); */
    /* background-size: crop;
    padding:25px;
    border:2px solid rgb(0, 0, 0);
    width:75%;
    height: 50%;
} */ 


