/* div {
    height: 500px;
    width: 500px;
    background-color: brown;
    margin:10px auto;
    background-image: url("photo-1471769321038-24f4db35b24d.avif");
    background-size: contain;
    box-shadow: 2px 2px 50px red;

} */