.card{

  width: 300px;
  margin: 10px ;
  border: 4px solid black;
  border-radius: 10px;
  padding: 10px;
 
}
img{

  width: 100%;
  border-radius: 10px;
}


h1{
  height: 100px;
  width:500px;
  background-color: white;
  border:0;
}

span{
  color:rgb(161, 98, 20);
}
i{
  color:rgb(171, 101, 15)
}


#pets{
  display:flex;
  justify-content: space-evenly;
}


@media  (max-width:375px){
  #pets {
    flex-wrap: wrap;
  }
}
