.b1{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: blanchedalmond;
    position: relative;
    z-index: 1;
}

.b2{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: rgb(151, 100, 24);
    position: relative;
    bottom: 50px;
}

.b3{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: rgb(95, 59, 4);
}

