#outer {
    height: 200px;
    padding:10px;
    width: 70px;
    border:2px solid black;
    background-color: rgb(84, 27, 27);
}

div div{
   height:50px;
   width: 50px;
   margin:10px;
   border:1px solid black;
   border-radius:50% ;
   background-color: palevioletred;
}

#red {
    background-color:red;
}
#g {
    background-color: green;
}
#y {
    background-color: yellow;
}