/* Pseudo  */
p:nth-of-type(2n){
    background-color: aquamarine;
}


/* if i wangt to change the first letter of h1 */
h1::first-letter {
    color:brown
}
/* similarly for first line */

/* selection pseudo elemtn */
p::selection {
    color:beige
}
