html{
    background-color: rgb(239, 229, 215);
    font-family: Georgia;
}

p{
    color:rgb(42, 8, 8);
    line-height: 30px;  

}
h1 {
    
    color:darkred;
    font-family: Cambria;
    font-weight: 700;

}

/* attribute selector */

input[type="text"]{
    color:crimson;
}
input[type]{
    background-color: burlywood;
}
/* pseud- class */
/* depends on specifity */
/* button:hover {
    color:rgb(185, 70, 70);
    background-color: aliceblue;

}
h3:hover {
    text-decoration:underline;
}
button:active{
    color: crimson;
}
h3:active{
    color: rgb(22, 10, 13);
}


.agree:checked{
    color:rgb(12, 175, 3);
    font-weight:bold;
}
.Notagree:checked{
    color: darkred;
    font-weight: bold;
} */
header:nth-of-type(2){
    background-color: rgb(196, 255, 232);
}


/* input{
    background-color: rgb(246, 240, 229);
    color:brown;
    font-family: Arial;
    font-weight: 300;
} */

/* descended selector */

/* ul a{ 
        color:rgb(94, 25, 25);
}
p a{
    color:crimson;
}
span button{
    color:rgb(113, 20, 20);
}
nav ul li{
    color:indianred;
}
nav ul li a{
    color:brown;
} */

/* class selector */

/* .b {
    background-color: rgb(68, 17, 17);
    color:rgb(254, 153, 0);
}

.follow {
    color:rgb(134, 17, 58);

}

/* Sibling combinator */
/* p+h3{
    color:firebrick;
    text-decoration:color(a98-rgb red green blue) wavy underline;
}
 */ 




#login {
    background-color: firebrick;
    color:#000000;
}
#signup {
    background-color: firebrick;
    color:#000000;
    
}

a {
    color:rgb(105, 12, 52);
    text-decoration:dotted underline;
}

button{
    background-color: rgb(224, 169, 169);
    color:rgb(156, 41, 23);
}
textarea {
    color:#000000;
}
/* universal selecotr */
* {
    color:rgb(36, 28, 18);


}

.a {
    background-color: brown;
    color:azure;
}

